@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import "colors";
@import "scales";

@mixin primary-header-font {
    //name it whatever you want ^

    font-family: 'Bangers', cursive;
    font-size: $xl;
    color: $primary-color-2;
    margin-bottom: $small;

}

@mixin profile-header-font{
    font-family: 'Bowlby One SC', cursive;

}