@import "colors";
@import "scales";
@import "typography";



#welcome-container{
    display:flex;
    flex-direction: row;
    // align-items: 

}

#toggle-update-form{
  display: flex;
  justify-content: center;
    
  // padding:10px;
}
#welcome-message{
    display: flex;
    justify-content: center;
    @include profile-header-font;
}
#week-container{
    display: flex;
    flex-direction: column;

}
#game-selection-week-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top-style: solid;
    border-width: 5px;
    align-items: stretch;
}


#selection-container{
    display:flex;
    flex-direction: column;

}
#profile-pic-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-left-width: medium;;
}

#header-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;


}
#points{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
#filler{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

}